@import 'sass/style';

.progressive-image {
  filter: blur(0);

  &_loading {
    transition: mdc-animation-enter(filter, 300ms )
    will-change: filter;
    filter: blur(10px);
  }

  &_fit {
    width: 100%;
    height: 100%;
  }
}
