@import 'sass/style';
@import '@material/theme/mixins';

.loader {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 2px;
  transition: transition(opacity);
  will-change: opacity;
  opacity: 0;
  background-color: #e6e6e6;

  &_active {
    opacity: 1;

    .loader__bar_primary {
      left: -145.166611%;
      animation: primary-indeterminate-translate 2s infinite linear;

      > .loader__bar__inner {
        animation: primary-indeterminate-scale 2s infinite linear;
      }
    }

    .loader__bar_secondary {
      left: -54.888891%;
      visibility: visible;
      animation: secondary-indeterminate-translate 2s infinite linear;

      > .loader__bar__inner {
        animation: secondary-indeterminate-scale 2s infinite linear;
      }
    }
  }

  &_fullscreen {
    right: 24px;
    bottom: 50%;
    width: auto;
    left: 24px;
    transform: translate3d(0, -50%, 0);
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    will-change: opacity;

    @include mdc-theme-prop(background-color, text-primary-on-dark);

    &_active {
      z-index: 1;
      opacity: 0.8;
    }

    &_animating {
      transition: mdc-animation-enter(opacity, 120ms);
    }
  }

  &__bar {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: mdc-animation-exit-temporary(transform, 250ms);
    transform-origin: top left;
    animation: none;

    &__inner {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      animation: none;

      @include mdc-theme-prop(background-color, primary);
    }
  }
}

@keyframes primary-indeterminate-translate {
  0% {
    transform: translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    transform: translate3d(0, 0, 0);
  }

  59.15% {
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    transform: translate3d(83.67142%, 0, 0);
  }

  100% {
    transform: translate3d(200.61106%, 0, 0);
  }
}

@keyframes primary-indeterminate-scale {
  0% {
    transform: scaleX(0.08);
  }

  36.65% {
    animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    transform: scaleX(0.08);
  }

  69.15% {
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    transform: scaleX(0.66148);
  }

  100% {
    transform: scaleX(0.08);
  }
}

@keyframes secondary-indeterminate-translate {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
    transform: translate3d(0, 0, 0);
  }

  25% {
    animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
    transform: translate3d(37.65191%, 0, 0);
  }

  48.35% {
    animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
    transform: translate3d(84.38617%, 0, 0);
  }

  100% {
    transform: translate3d(160.27778%, 0, 0);
  }
}

@keyframes secondary-indeterminate-scale {
  0% {
    animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    transform: scaleX(0.08);
  }

  19.15% {
    animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    transform: scaleX(0.4571);
  }

  44.15% {
    animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
    transform: scaleX(0.72796);
  }

  100% {
    transform: scaleX(0.08);
  }
}
