@import 'sass/style';
@import '@material/animation/functions';
@import '@material/animation/variables';
@import '@material/theme/mixins';

@function transition($property) {
  @return #{$property} 180ms $mdc-animation-standard-curve-timing-function;
}

.loader {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 2px;
  transition: transition(opacity);
  opacity: 0;
  background-color: #e6e6e6;

  &_active {
    opacity: 1;

    .loader__bar_primary {
      left: -145.166611%;
      animation: primary-indeterminate-translate 2s infinite linear;

      > .loader__bar__inner {
        animation: primary-indeterminate-scale 2s infinite linear;
      }
    }

    .loader__bar_secondary {
      left: -54.888891%;
      visibility: visible;
      animation: secondary-indeterminate-translate 2s infinite linear;

      > .loader__bar__inner {
        animation: secondary-indeterminate-scale 2s infinite linear;
      }
    }
  }

  &_fullscreen {
    right: 24px;
    bottom: 50%;
    width: auto;
    left: 24px;
    transform: translate3d(0, -50%, 0);
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;

    @include mdc-theme-prop(background-color, text-primary-on-dark);

    &_active {
      z-index: 1;
      opacity: 0.8;
    }

    &_animating {
      transition: mdc-animation-enter(opacity, 120ms);
    }
  }

  &__bar {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: mdc-animation-exit-temporary(transform, 250ms);
    transform-origin: top left;
    animation: none;

    &__inner {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      animation: none;

      @include mdc-theme-prop(background-color, primary);
    }
  }
}
