@import 'sass/style';
@import '@material/typography/mixins';

.cart-indicator {
  // @include mdc-typography(display1);

  @include media-query(mobile) {
    position: absolute;
    top: -16px;
    right: 16px;
    transform: translate3d(0, -100%, 0);
  }

  @include media-query(desktop) {
    position: absolute;
    right: 24px;
    bottom: -50%;
  }
}
