@import 'sass/style';
@import '@material/button/mixins';

.button {
  @include mdc-button-base_;
  @include mdc-button-corner-radius(2px);
  @include mdc-button-container-fill-color(transparent);
  @include mdc-button-ink-color(primary);
  @include mdc-states(primary);

  &_stretch {
    display: block;
    width: 100%;
  }

  &_raised {
    @include mdc-button--filled_;
    @include mdc-button-container-fill-color(primary);
    @include mdc-button-ink-color(text-primary-on-primary);
    @include mdc-states(text-primary-on-primary);
    @include mdc-button--raised_;
  }

  &__icon {
    display: inline-block;
    margin-right: 8px;
    vertical-align: sub;

    &_icon-only {
      margin-right: 0;
    }
  }
}
