@import 'sass/style';
@import '@material/button/mixins';

.button {
  @include mdc-button-base-;

  @include mdc-button-container-fill-color(transparent);

  @include mdc-button-ink-color(primary);

  @include mdc-ripple-color(primary, $mdc-unfilled-button-ripple-opacity);

  &_stretch {
    display: block;
    width: 100%;
  }

  &_raised {
    @include mdc-button-corner-radius(2px);

    @include mdc-button--filled-;

    @include mdc-button-container-fill-color(primary);

    @include mdc-button-ink-color(text-primary-on-primary);

    @include mdc-ripple-color(text-primary-on-primary, $mdc-filled-button-ripple-opacity);
  }

  &__icon {
    display: inline-block;
    margin-right: 8px;
    vertical-align: sub;

    &_icon-only {
      margin-right: 0;
    }
  }
}
