@import 'sass/style';
@import '@material/fab/mixins';

.fab {
  position: relative;
  display: inline-flex;

  &__inner {
    @include mdc-fab-base-;

    @include mdc-fab-container-color(secondary);

    @include mdc-fab-ink-color(text-primary-on-secondary);

    &:not(:disabled) {
      @include mdc-ripple-color(text-primary-on-secondary, $mdc-ripple-pressed-dark-ink-opacity);
    }

    &:not(.mdc-ripple-upgraded) {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    }

    &:disabled {
      &:hover,
      &:focus,
      &:active {
        cursor: default;

        @include mdc-elevation(6);
      }
    }
  }

  &__icon {
    @include mdc-fab--icon-;
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
  }

  &_exited {
    @include mdc-fab--exited-;
  }

  &_disabled {
    .fab__inner {
      background-color: rgba(white, 0.3);
      color: #f3f3f3;
    }
  }
}
