@import 'sass/style';
@import '@material/typography/mixins';
@import '@material/layout-grid/mixins';

@include load-typography-font;

html {
  overflow: hidden;
}

.app {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  @include mdc-typography-base;

  &__body {
    @include mdc-typography('body1');
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('bg.jpg');
    background-size: cover;
  }
}
