@import 'sass/style';

.main {
  position: relative;
}

.fade-translate-enter {
  opacity: 0.01;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.fade-translate-enter.fade-translate-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  z-index: 1;
}

.fade-translate-exit {
  opacity: 1;
}

.fade-translate-exit.fade-translate-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
