@import 'sass/style';
@import '@material/typography/mixins';
@import '@material/elevation/mixins';
@import '@material/theme/mixins';
@import '@material/animation/functions';

$headerHeightOverlay: 56px;
$footerHeightOverlay: 52px;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &_animating {
    visibility: visible;

    .overlay__backdrop {
      transition: mdc-animation-enter(opacity, 120ms);
    }

    .overlay_open .overlay__surface {
      transition: mdc-animation-enter(opacity, 120ms), mdc-animation-enter(transform, 120ms);
    }

    .overlay__surface {
      transition: mdc-animation-enter(opacity, 120ms), mdc-animation-enter(transform, 120ms);
    }
  }

  &_open {
    visibility: visible;

    .overlay__backdrop {
      opacity: 0.3;
    }

    .overlay__surface {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;

    @include mdc-theme-prop(background-color, text-primary-on-light);
  }

  &__surface {
    display: inline-flex;
    flex-direction: column;
    width: calc(100% - 30px);
    min-width: 640px;
    max-width: 865px;
    max-height: calc(100% - 30px);
    transform: translateY(150px) scale(0.8);
    opacity: 0;
    border-radius: 2px;

    @include mdc-elevation(24);

    @include mdc-theme-prop(background-color, background);
  }

  &__header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: $headerHeightOverlay;
    padding: 24px 24px 0;

    &__empty {
      padding: 0;
    }

    &__title {
      @include mdc-typography(title);

      margin: 0;
      flex: 1;
    }
  }

  &__content {
    overflow-y: auto;
    box-sizing: border-box;
    max-height: calc(100vh - #{$headerHeightOverlay + $footerHeightOverlay});
    margin-top: 20px;
    padding: 0 24px 24px;

    @include mdc-typography(body1);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    height: $footerHeightOverlay;
    padding: 8px;
    flex-wrap: wrap;

    &__item {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // TODO: Replace with breakpoint variable
  @media (max-width: 640px) {
    min-width: 280px;

    &__surface {
      min-width: 280px;
    }

    &__body {
      line-height: 24px;
    }
  }
}
